@font-face {
  font-family: 'stc';
  src: url('../fonts/stc.eot');
  src: url('../fonts/stc.eot?#iefix') format('embedded-opentype'), url('../fonts/stc.woff') format('woff'), url('../fonts/stc.ttf') format('truetype'), url('../fonts/stc.svg#Sri-TSCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.stcfont {
  font-family: "-apple-system", "stc", "Roboto", "Segoe UI", sans-serif;
}
.rtl {
  direction: rtl;
}
.sans {
  font-family: sans-serif;
}
.header-item {
  font-family: 'stc';
}
.nav-bar-block, .bar {
  background-color: #c0392b !important;
}
.title {
  text-align: center !important;
  color: white;
  font-weight: bolder !important;
  right: 0 !important;
}
ion-tabs.tabs-color-active-dark .tab-item {
  color: #c0392b;
}
ion-tabs.tabs-striped.tabs-color-active-dark .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-dark .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-dark .tab-item.activated {
  border-color: #c0392b;
}
.shadow {
  border-top: 1px solid rgba(0, 0, 0, 0.30);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.tradename {
  color: #b71c1c;
  font-weight: bold !important;
  /*text-overflow: initial !important;*/
}
.chname {
  color: #FF6F00 !important;
}
.price {
  color: #6D4C41;
}
.newprice {
  color: #004D40;
  font-weight: bolder !important;
}
.tabs {
  padding-top: 2px !important;
}
.lol {
  margin-top: 20px !important;
}
.wider {
  width: 80%;
}
/*partners*/
.partner-image {
  width: 30%;
  border-radius: 10px;
  display: inline;
}
.fb-follow {
  text-align: center;
  display: block;
  margin: auto;
}
.followimg {
  width: 68%;
  margin-top: 0;
}
/*sponsor*/
.sponsorview {
  background: #FBE9E7;
}
.sponsorimg {
  width: 20%;
  margin: auto;
  display: block;
  margin-top: 20px;
}
/*.margin-right {
  margin-right: 20px;
}*/
/*menu*/
.bar-stable .button  {
  color: white;
}
.bar-stable .button:hover  {
  color: white;
}
.bar.bar-stable .title {
    color: white;
}
.menulist {
  direction: rtl;
}
.menuicon {
  width: 40px;
}
.approximate{
  color: red;
}
/*main*/
.button::before{
  margin-right: 20px;
}
.want {
  margin-bottom: -10px;
}
.mainview {
  background: #ffebee;
}
/*.pane {
    background-color: #FFF9C4;
}*/

/*intro styles*/
.introtext {
  margin-right: 20px;
}

.introslider1 {
  background: #ffcdd2 !important;
}
.introslider2 {
  background: #F8BBD0 !important;
}
.introslider3 {
  background: #E1BEE7 !important;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#logo {
  margin: 30px 0px;
}
.logopic {
  height: 200px;
  width: 200px;
}
#swipe {
  height: 80px;
  width: 80px;
}
.demopic {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.details {
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
