<ion-header>
  <ion-navbar no-bounce no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Search Drugs</ion-title> -->

    <ion-segment [(ngModel)]="segment" (ionChange)="toggleSegments()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="history">
        History
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="showRadio()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title style="display:none">Search Drugs</ion-title>

  </ion-navbar>
  <ion-toolbar no-border-top>
    <!-- todo: ux better showing user what search category he's searching in -->
    <ion-searchbar placeholder="Search by {{schema[searchBy]}}" (ionInput)="searchTerm$.next($event.target.value)"
      (keyup.enter)="onEnterKey()"
      (ionClear)="searchResult = [];noResults=false;">
    </ion-searchbar>

  </ion-toolbar>
</ion-header>
<!-- todo: better ux teaching users how to use basic app features -->
<ion-content class="drugs-screen">
  <p *ngIf="drugs.length === 0">fetching drugs, please wait...</p>
  <!--todo: report bug when using text-center with animation-->
  <h1 *ngIf="this.searchResult.length === 0 && !loading && !noResults" class="animate text-center">You can search now <span >↑↑↑</span></h1>
 <!--todo: report bug when using *ngIf with spinner-->
  <div [class.none]="!loading" class="spinner-container">
      <ion-spinner duration="250"></ion-spinner>
  </div>
  <!--todo: report bug when using *ngIf with virtualScroll-->
  <ion-list [class.hidden]="loading" #virtualScroll [virtualScroll]="searchResult" approxItemHeight="64px" approxItemWidth="360px" bufferRatio="20">
    <ion-item *virtualItem="let drug" class="drug" (click)="openDrug(drug)">
      <ion-avatar item-start>
        <img src="assets/img/icon.png">
      </ion-avatar>
      <h2 class="lowercase">{{ drug.tradename }}</h2>
      <p class="lowercase">{{ drug.activeingredient }}</p>

      <p *ngIf="searchBy === 'price'" ion-text color="danger">{{drug.price}} EGP</p>
      <p *ngIf="searchBy === 'group'">{{ drug.group }}</p>
      <p *ngIf="searchBy === 'company'">{{ drug.company }}</p>

      <ion-icon name="log-in" color="primary" item-end></ion-icon>
    </ion-item>
  </ion-list>
  <div *ngIf="noResults&&!loading&&this.searchResult.length === 0" text-center>
    <p>Oops Sorry, We Didn't find
      <strong>{{searchTerm}}</strong> you can recheck spelling it... <br> or try our <span ion-text color="danger">🤖 AI</span> Search</p>
      <h3 class="full-width-text" ion-color color="danger">Did You Mean <span ion-text color="danger">{{doYouMean}}</span> ?</h3>
      <p text-center no-margin ion-text color="danger">↓↓↓</p>
    <button ion-button color="primary" round (click)="showApproximate()">Artificial Intelligence search</button>
    <p>Or Report it to be added</p>
    <a href="mailto:osama@dawaey.com?subject=Report Missing {{searchTerm}}" ion-button color="dark">
      Report Missing
    </a>
  </div>
  <div *ngIf="isEmptyHistory()" text-center>
    <p>You didn't make any Searches yet :)!</p>
  </div>
</ion-content>