<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1061030166084-rv5296chqmsbki0esaiilbvp921eru1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061030166084-rv5296chqmsbki0esaiilbvp921eru1f</string>
	<key>API_KEY</key>
	<string>AIzaSyCeF1WZwte_vmT025m48IzrQsx2XLUlYO0</string>
	<key>GCM_SENDER_ID</key>
	<string>1061030166084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dawaey</string>
	<key>PROJECT_ID</key>
	<string>dawaey-d6076</string>
	<key>STORAGE_BUCKET</key>
	<string>dawaey-d6076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061030166084:ios:f3880548a1670c41</string>
	<key>DATABASE_URL</key>
	<string>https://dawaey-d6076.firebaseio.com</string>
</dict>
</plist>