<!--
  Generated template for the DrugDetails page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title ion-text text-start color="light">
      {{ drug?.tradename }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="drug-screen">
  <div [class.none]="!loading" class="spinner-container">
    <ion-spinner duration="250"></ion-spinner>
  </div>

  <ion-card *ngIf="!loading">
    <ion-card-content>
      <h2 class="title">{{'Tradename' | translate}}:</h2>
      <h1 class="cap" text-center ion-text color="primary">{{drug?.tradename}}</h1>
      <h2 no-margin class="title" >{{activeingredients?.length>1? "Active Ingredient(s) :":"Active Ingredient :"}}</h2>
      <h2 class="detail-item lowercase" *ngFor="let item of activeingredients; let i= index" (click)="searchActiveIngredient(item)">
        <span color="primary" margin-left>{{ activeingredients?.length > 1 ? i+1+'-' :''}}</span>
        <span class="clickable cap" color="primary">{{item}}</span>
      </h2>
      <h3 class="title">
        {{'Price' | translate}}:
        <span ion-text color="danger">
          <strong>{{drug?.price}} EGP</strong>
        </span>
      </h3>
      <h3 class="title" *ngIf="drug?.group" class="title">{{'Drug group' | translate}}:</h3>
      <div margin-left text-left (click)="viewDrugGroup()">
        <p class="detail-item clickable" color="primary">
          {{drug?.group}}
        </p>
      </div>

      <h3 class="title" *ngIf="drug?.company">{{'Company' | translate}}:</h3>
      <div id="company" margin-left text-left (click)="viewCompanyProducts()">
        <p class="detail-item clickable" color="primary">{{drug?.company}}</p>
      </div>

      <div id="pharma{{drug?.id}}" style="height: 1px"></div>

      <div [hidden]="!showPharma">
        <div>
          <h3 class="title" *ngIf="drug?.composition">{{'Composition' | translate}}:</h3>
          <div>
            <h2 *ngFor="let s of drug?.composition?.split('\n')">
              <strong padding-left>{{s}}</strong>
            </h2>
          </div>
        </div>
        <div>
          <h3 class="title" *ngIf="drug?.pamphlet">{{'Pharmacology' | translate}}:</h3>
          <div padding>
            <h2 *ngFor="let s of drug?.pamphlet?.split('\n')">
              <strong>{{s}}</strong>
            </h2>
          </div>
        </div>
        <div>
          <h3 class="title" *ngIf="drug?.dosage">{{'Dose' | translate}}:</h3>
          <div padding>
            <h2 *ngFor="let s of drug?.dosage?.split('\n')">
              <strong>{{s}}</strong>
            </h2>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <a *ngIf="drug" style="color:brown;float:right;padding-right:10px;" href="mailto:app@dawaey.com?subject=Correcting {{drug.tradename}} information">
    {{'Report a correction' | translate}}
  </a>

  <ion-item-group *ngIf="drug">
    <ion-item-divider color="light">{{'More Information' | translate}}:</ion-item-divider>
    <ion-card-content text-center>
      <a ion-button backgroundColor="primary" (click)="togglePharma()">
        {{showPharma === true ? 'Hide Detailed Pharma' : 'View Detailed Pharma'}}
      </a>
      <br />
      <a ion-button backgroundColor="google" (click)="viewPicture()">{{'View Picture' | translate}}</a>
      <a ion-button backgroundColor="google" (click)="googleMore()">{{'Google More' | translate}}</a>
    </ion-card-content>
  </ion-item-group>

  <ion-item-group *ngIf="similars.length>0">
    <ion-item-divider color="light">{{'Similars' | translate}}:</ion-item-divider>
    <ion-item *ngFor="let similar of similars" (click)="openDrug(similar)">
      {{similar.tradename}} <span class="price" style="float:right;" color="primary">{{similar?.price}} EGP</span>
    </ion-item>
  </ion-item-group>
</ion-content>
