page-drug-details {
    .drug-screen{
        .lowercase{
            text-transform: lowercase;
        }
        #company p {
            font-size: 4vw;
          }
          @media screen and (min-width: 700px) {
            #company p {
               font-size: 2rem;
            }
          }  
        .justify{
            text-align: justify;
            text-justify: inter-word;
        }
        .detail-item{
            font-size: 2rem;
           // padding-top: 5px;
            margin: 0;
        }
        .cap:first-letter{
            text-transform:uppercase
        }
        .cap{
            text-transform:lowercase
        }
        .clickable{
            color: color($colors,primary);
            border-bottom: 2px solid tomato;
            display: inline-block;
            line-height: 0.85;
        }
        .none {
            display: none;
          }
          $spinnerSize: 100px;
          .spinner-container {
            text-align: center;
            margin-right: $spinnerSize/2;
          }
        .title{
            color: color($colors,darker);
            font-size: 2.5rem;
            
        }  
              
    }
    .price{
            color: color($colors,secondary)
        }
    
}
