// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #7b1fa2,
  secondary:  #ba68c8,
  danger:     #b71c1c,
  warning:     #b7621c,
  success: #227916,
  transparent : transparent,
  snow:      #fffafa,
  light:      #ffffff,
  dark:       #424242,
  darker:     #000,
  favorite:   #1B5E20,
  whatsapp:   #25d366,
  twitter:    #1da1f4,
  google:     #dc4a38,
  vimeo:      #23b6ea,
  facebook:   #3b5998
);

// ripped CSS4 vars out of color map
:root {
  // each item in color map
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }
  --color-background: red;
}

@function variablecolor($color-name) {
  @return var(--color-#{$color-name});
}



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-background:   variablecolor(primary)    ;

// Change the color of the segment button text
$toolbar-md-active-color:                 variablecolor(light);


$tabs-ios-tab-icon-color: variablecolor(light);

$tabs-ios-tab-icon-color-active: variablecolor(google);

$tabs-ios-tab-text-color-active:   variablecolor(light);
$tabs-ios-tab-color-inactive: variablecolor(dark);
$tabs-ios-tab-font-weight: bolder;


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

$tabs-background : linear-gradient(to right, variablecolor(primary) 0%, variablecolor(secondary) 50%, variablecolor(primary) 100%);
$tabs-tab-color-active : variablecolor(light);
$tabs-tab-color-inactive: variablecolor(secondary);



@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
