page-sponsors {
    .sponsors-screen{
        background: color($colors,transparent)
    }
    .gold-frame{
        border: 4px solid gold;
    }
    // .sponsoring-pic{
    //     width:100px;
    //     height: auto;
    //     display: block;
    //     margin: 0 auto;
    // }
    .email{
        color: #4d91ff;
    }
}
