<ion-view view-title="عن المطور">
  <ion-content>
    <div class="card rtl">
      <div class="item item-divider">
        الشركة المطورة
      </div>
      <div class="item item-text-wrap text-center">
        <a href="https://play.google.com/store/apps/developer?id=Brilliant+App">© Brilliant App</a>
      </div>
    </div>
    <div class="list card rtl">

  <a href="#" class="item item-icon-right">
    <i class="icon ion-home"></i>
    شبين الكوم - المنوفية - مصر
  </a>

  <a href="#" class="item item-icon-right sans">
    <i class="icon ion-ios-telephone"></i>
    00201063116380
  </a>

  <a href="https://www.facebook.com/DrOs96" class="item item-icon-right">
    <i class="icon ion-card"></i>
    د / أسامة سليمان
  </a>

</div>
  </ion-content>
</ion-view>
