<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-stable no-animation"
              ng-click="startApp()" ng-show="!slideIndex">
        تخطي
      </button>
      <button class="button button-stable no-animation"
              ng-click="previous()" ng-show="slideIndex > 0">
        رجوع
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-stable no-animation"
              ng-click="next()" ng-show="slideIndex != 2">
        التالي
      </button>
      <button class="button button-stable no-animation"
              ng-click="startApp()" ng-show="slideIndex == 2">
        دخول
      </button>
    </ion-nav-buttons>
</ion-nav-bar>

   <ion-slide-box on-slide-changed="slideChanged(index)">
     <ion-slide class="introslider1">
       <div>
         <h2 class="stcfont"> {{type}}</h2></div>

       <div id="logo">
         <img class="logopic" src="img/icon.png">
       </div>
       <!-- when $scope.myValue is truthy (element is visible) -->
       <div ng-show="swipe">
         <h3 class="stcfont">قم بتحريك اصبعك للتنقل</h3>
         <img id="swipe" src="img/swipe.png" alt="" />
       </div>

     </ion-slide>
     <ion-slide class="introslider2">
       <h2 class="stcfont">لبحث الدواء قم بعمل الآتي</h2>
       <div class="text-right introtext">
         <h3 class="stcfont">أولاً : اذا كنت تريد البحث السريع قم باختيار البحث السريع</h3>
         <h3 class="stcfont">اكتب اسم الدواء</h3>
         <h3 class="stcfont">انتظر قليلاً</h3>
         <h3 class="stcfont">اختر الدواء الذي تريد البحث عنه</h3>
         <h3 class="stcfont">للبحث في جوجل قم باختيار هذا الزر</h3>
       </div>
       <div>
         <img class="details" src="img/button.png" alt="">
       </div>
       <div class="text-right introtext">
         <h3 class="stcfont">ثانياً للبحث المتقدم</h3>
         <h3 class="stcfont">اكتب اسم الدواء أو المادة الفعالة أو سعر الدواء أو اسم الشركة المصنعة</h3>
         <h3 class="stcfont">انتظر قليلاً</h3>
         <h3 class="stcfont">اختر الدواء الذي تريد البحث عنه</h3>
       </div>



       <div ng-show="swipe">
         <img id="swipe" src="img/swipe.png" alt="" />
       </div>
     </ion-slide>
     <ion-slide class="introslider3">
       <h3 class="stcfont">يا ترى عندك أي أسئله تانية ؟</h3>
       <h3 class="stcfont">راسلنا على</h3>
       <p>
          drusama2@gmail.com
       </p>
       <h4 class="stcfont"> لأ معندكش اسئله ؟-</h4>
       <h3 class="stcfont">اتفضل ادخل على التطبيق من هنا</h3>
       <button ng-click="startApp()" class="button button-assertive wider">
         دخول دوائي
       </button>
       <div id="logo">
         <img class="logopic" src="img/icon.png">
       </div>


     </ion-slide>
   </ion-slide-box>
 </ion-view>
