<ion-view>
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-stable no-animation" ng-click="startApp()" ng-show="!slideIndex">
        تخطي
      </button>
      <button class="button button-stable no-animation" ng-click="previous()" ng-show="slideIndex > 0">
        رجوع
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-stable no-animation" ng-click="next()" ng-show="slideIndex != 2">
        التالي
      </button>
      <button class="button button-stable no-animation" ng-click="startApp()" ng-show="slideIndex == 2">
        دخول
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide class="introslider1">
      <div>
        <h3 class="stcfont introtext1"> {{type}}</h3></div>

      <div id="logo">
        <img class="logopic" src="img/icon.png">
      </div>
      <!-- when $scope.myValue is truthy (element is visible) -->
      <div ng-show="swipe">
        <h3 class="stcfont white">قم بتحريك اصبعك للتنقل</h3>
        <img class="swipe" src="img/swipe.png" alt="" />
      </div>

    </ion-slide>
    <ion-slide class="introslider2">
      <h2 class="stcfont">لبحث الدواء قم بعمل الآتي</h2>
      <div class="text-right introtext">
        <h3 class="stcfont white">قم باختيار نوع البحث</h3>
        <h4 class="stcfont white">بحث سريع-<br>بحث بالاسم التجاري-<br>بحث بالمادة الفعالة-<br>بحث بالسعر-<br>بحث بالشركة-</h4>
        <h3 class="stcfont white">اكتب اسم الدواء</h3>
        <h3 class="stcfont white">انتظر قليلاً</h3>
        <h3 class="stcfont white">اختر الدواء الذي تريد البحث عنه</h3>
        <h3 class="stcfont white">للبحث في جوجل قم باختيار هذا الزر</h3>
      </div>
      <div>
        <img class="details" src="img/button.png" alt="">
      </div>
      <div>
        <h3 class="stcfont">قم بتحريك اصبعك للتنقل</h3>
        <img class="swipe" src="img/swipe.png" alt="" />
      </div>
    </ion-slide>
    <ion-slide class="introslider3">
      <h3 class="stcfont">لو عندك أسئله تانيه</h3>
      <h3 class="stcfont">راسلنا على</h3>
      <p>
        <a href="mailto:app@dawaey.com">app@dawaey.com</a>
      </p>
      <h3 class="stcfont white">اتفضل ادخل على التطبيق من هنا</h3>
      <button ng-click="startApp()" class="button button-assertive wider">
        دخول دوائي
      </button>
      <h3 class="stcfont white">أو قم بانشاء حساب جديد</h3>
      <button ng-click="signUp()" class="button button-dark wider">
        انشاء حساب
      </button>
      <div>
        <img class="logopic margin-top" src="img/icon.png">
      </div>


    </ion-slide>
  </ion-slide-box>
</ion-view>
