<ion-view class="view-bg-blue" hide-nav-bar="true">
  <ion-content class="loginview">
    <h1 class="stcfont text-center create">تسجيل الدخول</h1>
    <form ng-submit="doLogin()">
      <div class="list signupform">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input ng-model="user.email" required type="text" placeholder="example@example.com">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input ng-model="user.password" required type="password" placeholder="password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
