<ion-view view-title="البحث">
  <ion-content>
    <div class="shadow">
      <label class="item item-input lablestyle">
        <select class="selectoptions" name="singleSelect" ng-model="mySelect" ng-change="showSelectValue(mySelect)">
        <option value="">اختر نوع البحث</option> <!-- not selected / blank option -->
        <option value="quick">البحث السريع</option>
        <option value="trade">البحث بالاسم التجاري</option>
        <option value="activeingredient">البحث بالمادة الفعالة</option>
        <option value="price">البحث بالسعر</option>
        <option value="company">البحث بالشركة</option>
        <option value="approximate">البحث التقريبي</option>
      </select>
      </label>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="searchit" ng-model-options="{debounce: 500}" placeholder="Search here" ng-focus="searchFocused = true" ng-blur="searchFocused = false">
      </label>
    </div>
    <ion-list>
      </ion-item>
      <ion-item class="item-light item-avatar card item-complex" ng-repeat="drug in drugs | filter:searchit| orderBy: orderByVar | limitTo:numberOfItemsToDisplay" ng-href="#/app/drug/{{drug.id}}">
        <img ng-src="{{drug.pic}}" alt=" ">
        <h2 class="tradename">{{drug.tradename}}</h2>
        <p class="chname">{{drug.activeingredient}}</p>
        <p>{{drug.form}}</p>
        <h2 class="newprice">Price: {{drug.price}} EGP</h2>
        <p class="company">Company: {{drug.company}}</p>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="drugs.length > numberOfItemsToDisplay" on-infinite="addMoreItem() " distance="10% "></ion-infinite-scroll>

  </ion-content>
</ion-view>
