<ion-view  view-title="الرئيسية">
  <ion-content class="mainview">
    <h1 class="text-center stcfont want">هل تريد ؟؟</h1>
    <div class="row">
      <div class="col text-center">
        <h1 class="stcfont">البحث السريع</h1>
        <button ng-click="quick()" class="button wider button-positive ion-search">البحث السريع</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="stcfont">البحث بالاسم التجاري</h1>
        <button ng-click="trade()" class="button wider button-balanced ion-information-circled">البحث بالاسم التجاري</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="stcfont">البحث بالاسم العلمي</h1>
        <button ng-click="chname()" class="button wider button-assertive ion-flag">البحث بالاسم العلمي</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="stcfont">البحث بالسعر</h1>
        <button ng-click="price()" class="button wider button-dark ion-social-usd">البحث بالسعر</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h1 class="stcfont">البحث بالشركة</h1>
        <button ng-click="company()" class="button wider button-dark ion-bag">البحث بالشركة</button>
      </div>
    </div>
    <!-- <footer>
      <h1 class="stcfont text-center">إعلانك هنا</h1>
    </footer> -->
  </ion-content>
</ion-view>
