<ion-view view-title="شركاؤنا">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/icon.png">
        <h2>Dr Ahmed Elgewaily</h2>
        <p>Since: June 09, 2016</p>
      </div>

      <div class="item item-body">
        <img class="partner-image" src="img/ahmed.jpg">
        <a href="https://www.facebook.com/ahmed.elgewaily">
          <img class="followimg" src="img/follow.png" alt="" />
        </a>
        <p>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
