‎<ion-view view-title="Drug info">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/icon.png">
        <h2 class="tradename">{{drug.tradename}}</h2>
        <p class="chname">{{drug.chname}}</p>
      </div>

      <div class="item item-body">
        <h2 class="price">Old Price: {{drug.price}} EGP</h2>
        <h2 class="newprice">New Price: {{drug.newprice}} EGP</h2>
        <h2>{{drug.type}} of {{drug.howmany}} {{drug.classification}}</h2>
        <h2 class="company">Company: {{drug.company}}</h2>
      </div>
      <div>
        <a class="details" ng-href="{{drug.tradename | trustURL}}">
          <img class="details" src="img/button.png" alt="">
        </a>
      </div>
  </ion-content>
</ion-view>
