<ion-view view-title="Advanced Search">
  <ion-content>
    <div>
      <div class="col text-center">
        <h3 class="text-right stcfont">لو مش متأكد من اسم الدواء ابحث هنا</h3>
        <button ui-sref="tab.approximate" class="button button-assertive">
          Approximate search
        </button>
      </div>
      <div class="col text-center">
        <h3 class="text-right stcfont">البحث باسم الدواء التجاري </h3>
        <button ui-sref="tab.tradename" class="button button-assertive">
          Trade name
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث باسم الدواء العلمي</h3>
        <button ui-sref="tab.chname" class="button button-assertive">
          Chemical name
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث بسعر الدواء</h3>
        <button ui-sref="tab.price" class="button button-assertive">
          Price Search
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث بالشركة المصنعة للدواء</h3>
        <button ui-sref="tab.company" class="button button-assertive">
          Company Search
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
