<ion-view view-title="Dashboard">
  <ion-content>
    <button class="button button-block button-assertive" ng-click="viewDB()">View items in database</button>
      <ion-list>
        <ion-item>
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="data.val" placeholder="Search" ng-focus="searchFocused = true" ng-blur="searchFocused = false">
          </label>
          <button type="button" class="button button-block button-calm" ng-click="searchfunc(data)" name="button">Search Me</button>
        </ion-item>
          <ion-item class="item-avatar" ng-repeat="user in groups | filter:input.filterUser">
            <img ng-src="{{user.avatar}}">
            <h2>{{firstname}}</h2>
            <p>{{lastname}}</p>
          </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
