<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Developer:
      </div>
      <div href="https://play.google.com/store/apps/developer?id=Brilliant+App" class="item item-text-wrap text-center">
        Brilliant App ©
      </div>
    </div>
    <div class="list card">

  <a href="#" class="item item-icon-left">
    <i class="icon ion-home"></i>
    Egypt - Al-Menofiya - Shiben Al-Kom
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    00201063116380
  </a>

  <a href="https://www.facebook.com/DrOs96" class="item item-icon-left">
    <i class="icon ion-card"></i>
    Osama Soliman
  </a>

</div>
  </ion-content>
</ion-view>
