<ion-view view-title="البحث المتقدم">
  <ion-content>
    <div>
      <div class="col text-center">
        <h3 class="text-right stcfont">لو مش متأكد من اسم الدواء ابحث هنا</h3>
        <button ui-sref="tab.approximate" class="button button-block button-assertive">
          البحث التقريبي
        </button>
      </div>
      <div class="col text-center">
        <h3 class="text-right stcfont">البحث باسم الدواء التجاري </h3>
        <button ui-sref="tab.tradename" class="button button-block button-assertive">
          البحث باسم الدواء التجاري
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث باسم الدواء العلمي</h3>
        <button ui-sref="tab.chname" class="button button-block button-assertive">
          البحث باسم الدواء العلمي
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث بسعر الدواء</h3>
        <button ui-sref="tab.price" class="button button-block button-assertive">
          البحث بسعر الدواء
        </button>
      </div>

      <div class="col text-center">
        <h3 class="text-right stcfont">البحث بالشركة المصنعة للدواء</h3>
        <button ui-sref="tab.company" class="button button-block button-assertive">
          البحث بالشركة المصنعة للدواء
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
