<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-dark {{$root.hideTabs}}">

  <!-- Search Tab -->
  <ion-tab title="Drug search" icon-off="ion-ios-flask" icon-on="ion-ios-flask" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Drug info Tab -->
  <ion-tab title="Drug info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/drug">
    <ion-nav-view name="tab-drug"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About developer" icon-off="ion-code" icon-on="ion-code" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Intro View -->
  <ion-tab title="Intro" icon-off="ion-code" icon-on="ion-code" href="#tab/intro" hidden="true">
    <ion-nav-view name="tab-intro"></ion-nav-view>
  </ion-tab>


</ion-tabs>
