<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-dark {{$root.hideTabs}}">
  <!-- Intro View -->
  <ion-tab title="Intro" icon-off="ion-code" icon-on="ion-code" href="#tab/intro" hidden="true">
    <ion-nav-view name="tab-intro"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="البحث السريع" icon-off="ion-ios-flask" icon-on="ion-ios-flask" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="البحث المتقدم" icon-off="ion-beaker" icon-on="ion-beaker" href="#/tab/advsearch">
    <ion-nav-view name="tab-advsearch"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="approximate search" icon-off="ion-code" icon-on="ion-code" href="#tab/approximate" hidden="true">
    <ion-nav-view name="tab-approximate"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="tradename search" icon-off="ion-code" icon-on="ion-code" href="#tab/tradename" hidden="true">
    <ion-nav-view name="tab-tradename"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="chname search" icon-off="ion-code" icon-on="ion-code" href="#tab/chname" hidden="true">
    <ion-nav-view name="tab-chname"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="price search" icon-off="ion-code" icon-on="ion-code" href="#tab/price" hidden="true">
    <ion-nav-view name="tab-price"></ion-nav-view>
  </ion-tab>
  <!-- Advanced Search Tab -->
  <ion-tab title="company search" icon-off="ion-code" icon-on="ion-code" href="#tab/company" hidden="true">
    <ion-nav-view name="tab-company"></ion-nav-view>
  </ion-tab>

  <!-- Drug info Tab -->
  <ion-tab title="Drug info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/drug"  hidden="true">
    <ion-nav-view name="tab-drug"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="عن المطور" icon-off="ion-code" icon-on="ion-code" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>




</ion-tabs>
